---
export const prerender = true;

import DefaultPageLayout from "$/layouts/default.astro";
import AudioCard from "$/components/AudioCard.astro";
import AudioPlayer from "$/components/AudioPlayer.astro";
import Paginator from "$/components/Paginator.astro";
import { getCollection } from "astro:content";
import { PAGE_SIZE } from "$/config";

let title = "Music";
let description = "Some mix of crappy cover/original songs...";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("music");
  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.date) - new Date(a.data.date)
  );

  return paginate(sortedPosts, {
    pageSize: PAGE_SIZE,
  });
}

const { page } = Astro.props;
console.log(page.data);
---

<DefaultPageLayout content={{ title, description }}>
  <div
    class="flex justify-center items-center dark:bg-gray-800 w-full"
  >
    {
      page.data.map((audio: any, index: number) => (
        <AudioCard
          title={audio.data.title}
          cover={audio.data.image}
          audioUrl={audio.data.content}
          duration={audio.data.duration}
          date={audio.data.date}
          id={"card-" + index}
        />
      ))
    }
    <p class="text-gray-600 dark:text-gray-300">
      <AudioPlayer />
    </p>
  </div>

  <Paginator page={page} />
</DefaultPageLayout>
